* {
  margin: 0;
  padding: 0;
  font-family: 'Fira sans', sans-serif;
}

:root {
--primary-color: #90ee90;
--secondary-color: #3cb371;
--complimentary-color: #054848;
--contrast-color: #9acd32;
--light-color: #f0e68c;
--dark-color: rgb(14, 41, 49);
--dark: #374151;
--darker: #1F2937;
--darkest: #111827;
--light: #EEE;
--green: #38c975;
--teal: rgb(47, 129, 112);
--gray: #6b7280;
}

body {
    background-color: var(--dark);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: var(--light);
}

.header {
    padding: 2rem 1rem;
    max-width: 1400px;
    width: 90%;
    margin: 0 auto;
}

#new-task-form {
    display: flex;
}

input, button {
    appearance: none;
    border: none;
    outline: none;
    background: none;
}

#task-search {
    flex: 1 1 0%;
    background-color: var(--darker);
    padding: 1rem;
    border-radius: 1rem;
    margin-right: 1rem;
    color: var(--light);
    font-size: 1.25rem;
}

#button-search {
    color: var(--green);
    font-size: 1.25rem;
    font-weight: 700;
    background-image: linear-gradient(to right, var(--green), var(--teal));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
    transition: 0.4s;
}

#task-search::placeholder {
    color: var(--gray);
}

#new-task-submit {
    color: var(--green);
    margin-right: 0px;
    margin-left: auto;
    font-size: 2vw; 
    font-weight: 700;
    background-image: linear-gradient(to left, var(--green), var(--teal));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
    transition: 0.4s;
}

.div-add-task {
    display: flex;
}

#new-task-submit:hover {
    opacity: 0.8;
}

#new-task-submit:active {
    opacity: 0.6;
}

main {
	flex: 1 1 0%;
	max-width: 1400px;
	width: 90%;
	margin: 0 auto;
}

.task-list {
	padding: 1rem;
}

.task-list h2 {
	font-size: 1.5rem;
	font-weight: 300;
	color: var(--grey);
	margin-bottom: 1rem;
}

#tasks .task {
	display: flex;
	justify-content: space-between;
	background-color: var(--darkest);
	padding: 0.75rem;
	border-radius: 1rem;
	margin-bottom: 1rem;
}

.task .content {
	flex: 1 1 0%;
    padding-right: 1rem;
}

.task .content .text {
	color: var(--light);
	font-size: 1.125rem;
	width: 100%;
	display: block;
	transition: 0.4s;
}

.task .content .text:not(:read-only) {
	color: var(--green);
}

.task .actions {
	display: flex;
	margin: 0 -0.5rem;
}

.task .actions button {
	cursor: pointer;
	margin: 0 0.5rem;
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
	transition: 0.4s;
}

.task .actions button:hover {
	opacity: 0.8;
}

.task .actions button:active {
	opacity: 0.6;
}

.task .actions .edit {
	background-image: linear-gradient(to right, var(--green), var(--teal));
	-webkit-background-clip: text;
    background-clip: text;
	-webkit-text-fill-color: transparent;
}

.task .actions .delete {
	color: crimson;
} 

.icon {
    background: url("../images/search.png") no-repeat;
    background-size: 20px;
}

/* PopUp Form */
.btn {
    padding: 10px 20px;
    background: var(--darker);
    border: 0;
    color: var(--green);
    outline: none;
    cursor: pointer;
    font-size: 20px;
    font-weight: 500;
    border-radius: 30px;
}

.btn:hover {
    color: #027804;
    transition: ease-in-out 0.3s;
}

.popup {
    width: 400px;
    background: #16432a;
    border-radius: 6px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    color: rgb(255, 255, 255);
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
}

.open-popup{
    visibility: visible;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
}

.popup button {
    width: 100%;
    margin-top: 30px;
    padding: 10px 0;
    background: #53ce26;
    color: #fff;
    border: 0;
    outline: none;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
}

.popup .btn {
    width: 100%;
    margin-top: 30px;
    padding: 10px 0;
    background: #ec5e06;
    color: #fff;
    border: 0;
    outline: none;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
}

form {
    padding-top: 20px;
}

input[type=text], input[type=date] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    color: var(--light);
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

input[type=text], input[type=date]::placeholder {
    color: var(--light);
    font-size: 1rem;
}

.error {
    border: 1px solid rgb(255, 0, 0)!important;
}

.success {
    border: 1px solid #53ce26!important;
}

.hide { display: none; }